body.dark {
  background: $veryDarkBlue;
}

.dark {
  // Text
  h1 {
    color: $white;
  }
  h2 {
    color: $white;
  }
  p {
    color: $desaturatedBlue;
  }
  // Layout
  .background {
    background: $darkDesaturatedBlue;
  }
  //   Switch
  .round-slider-container {
    background: linear-gradient(to bottom, $toggleDarkModeStart, $toggleDarkModeEnd);
  }
  .round-slider {
    background: $darkDesaturatedBlue;
  }
  // Toggle Container
  #toggle_container {
    &:hover #toggle_container_label {
      color: $white;
    }
    &_label {
      color: $desaturatedBlue;
    }
  }

  //   Header
  header {
    border-bottom-color: $purpleBlue;
  }

  //   Header Background
  #main_background {
    background: $veryDarkBlueTwo;
  }
  // Main Stat
  .main_stat {
    background: $darkDesaturatedBlue;
    &:hover {
      background: $purpleBlue;
      cursor: pointer;
    }
    .main_stat_main_number {
      color: $white;
    }
    .main_stat_main_label {
      color: $desaturatedBlue;
    }
    .up {
      color: $limeGreen;
    }
    .down {
      color: $brightRed;
    }
  }
    //   Overview Stat
  .overview_stat {
    background: $darkDesaturatedBlue;
    &:hover {
      background: $purpleBlue;
      cursor: pointer;
    }
  }
  .overview_stat_body_label {
    color: $white;
  }
  .up {
    color: $limeGreen;
  }
  .down {
    color: $brightRed;
  }
}
