.light {
  // Text
  h1 {
    color: $veryDarkBlue;
  }
  p {
    color: $darkGrayishBlue;
  }
  // Layout
  .background {
    background: $white;
  }
  //   Switch
  .round-slider-container {
    background: $lightModeToggle;
  }
  .round-slider {
    background: $lightGrayishBlue;
  }
  // Toggle Container
  #toggle_container_label {
    color: $darkGrayishBlue;
  }

  //   Heaeder
  header {
    border-bottom-color: $purpleGray;
  }
  // Header Backgtound
  #main_background {
    background: $veryPaleBlue;
    // Main Stat
  }
  .main_stat {
    background: $lightGrayishBlue;
  }
  .main_stat_main_number {
    color: $veryDarkBlue;
  }
  .main_stat_main_label {
    color: $darkGrayishBlue;
  }
  //   Overview Stat
  .overview_stat {
    background: $lightGrayishBlue;
  }
  .overview_stat_body_label {
    color: $veryDarkBlue;
  }
}

body.dark {
  background: $veryDarkBlue;
}

.dark {
  // Text
  h1 {
    color: $white;
  }

  p {
    color: $desaturatedBlue;
  }
  // Layout
  .background {
    background: $darkDesaturatedBlue;
  }

  //   Header
  header {
    border-bottom-color: $purpleBlue;
  }

  //   Header Background
  #main_background {
    background: $veryDarkBlueTwo;
  }
}
