#main_background {
  position: absolute;
  width: 100vw;
  height: 15%;
  margin: -56px 0 0 -24px;
  border-radius: 0px 0px 20px 20px;
  z-index: -1;

  @include screen-desktop {
    height: 35%;
    margin: -50px -160px 0;
  }
}
