#main_background {
  background: $veryPaleBlue;
  position: absolute;
  margin: -56px 0 0 -24px;
  width: 100vw;
  height: 20%;

  border-radius: 0px 0px 20px 20px;
  z-index: -1;

  @include screen-desktop {
    margin: -50px -160px 0;
    height: 35%;
  }
}
