header {
  padding-bottom: 1rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  @include screen-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
  }
  h1 {
    font-size: 24px;
    font-weight: 700;

    @include screen-desktop {
      font-size: 28px;
    }
  }

  p {
    margin-top: -0.5rem;
  }
}
